.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    width: 70%;
    background-color: lightcyan;
}