<div class="container">
    <h2>Registration Form</h2>
    <!-- ngModelGroup is use for grouping the fields -->
    <form (ngSubmit)="onSubmit()" #inputValue="ngForm">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstname" [(ngModel)]="firstname" required #fname="ngModel">
            <div>
                <!-- It Only show if users don't write anything and leave it after touch. -->
                <small *ngIf="fname.invalid && fname.touched" style="color: red;">Firstname is required..</small>
            </div>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastname" [(ngModel)]="firstname" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel required email>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" name="country" [ngModel]="default">
                <option value="United States">United States</option>
                <option value="Canada">Canada</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="India">India</option>
            </select>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="checkbox-group">
                <label><input type="radio" name="gender" value="male" ngModel> Male</label>
                <label><input type="radio" name="gender" value="female" ngModel> Female</label>
                <label><input type="radio" name="gender" value="other" ngModel> Other</label>
            </div>
        </div>
        <div class="form-group">
            <label>Hobbies</label>
            <div class="checkbox-group">
                <label><input type="checkbox" name="hobbies" value="reading" ngModel> Reading</label>
                <label><input type="checkbox" name="hobbies" value="traveling" ngModel> Traveling</label>
                <label><input type="checkbox" name="hobbies" value="cooking" ngModel> Cooking</label>
                <label><input type="checkbox" name="hobbies" value="sports" ngModel> Sports</label>
            </div>
        </div>
        <div class="button-group">
            <button type="submit" [disabled]="!inputValue.valid">Submit</button>
        </div>
    </form>
</div>