<div class="filter">
    <span><strong>Filter: </strong> </span>
    <input type="radio" name="filter" value="All" [(ngModel)]="getSelectedValue"
    (change)="onRadioButtonChange()">
    <span>&nbsp;{{'All Courses('+all+')'}}</span>

    <input type="radio" name="filter" value="Free" [(ngModel)]="getSelectedValue"
    (change)="onRadioButtonChange()">
    <span>&nbsp;{{'Free Courses('+free+')'}}</span>

    <input type="radio" name="filter" value="Premium" [(ngModel)]="getSelectedValue"
    (change)="onRadioButtonChange()">
    <span>&nbsp;{{'Premium Courses('+premium+')'}}</span>
</div>