.span {
    margin: 30px;
    padding: 30px;
    background-color: red;
}

.change-font {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}