<!-- <app-container></app-container> -->

<div class="container">
    <!-- <app-header></app-header> -->
    <!-- <app-course></app-course> -->

    <!-- <app-demo></app-demo> -->
    <!-- <app-customer-list #handleCustomer></app-customer-list> -->
    <!-- We use ? because selectedCustomer value is by default null. -->
    <!-- <p>{{handleCustomer.selectedCustomer?.name}}</p> -->

    <!-- <app-form></app-form> -->

    <!-- <app-ng-content>
        <h1 class="h">hello</h1>
        <h1 class="g">hello2</h1>
    </app-ng-content>
    <app-ng-content>
        <h1>buddy</h1>
    </app-ng-content> -->

    <!-- <app-lifecycle-search></app-lifecycle-search> -->

    <!-- <app-content-child>
        <p #paragraph>This is a paragraph</p>
    </app-content-child> -->

    <!-- Set background change the background color to green and it invokes from custom attribute directive-->
    <h1 setBackground>Custom attribute directive</h1>
</div>