<!-- <app-container></app-container> -->

<div class="container">
    <!-- <app-header></app-header> -->
    <!-- <app-course></app-course> -->

    <!-- <app-demo></app-demo> -->
    <!-- <app-customer-list #handleCustomer></app-customer-list> -->
    <!-- We use ? because selectedCustomer value is by default null. -->
    <!-- <p>{{handleCustomer.selectedCustomer?.name}}</p> -->

    <!-- <app-form></app-form> -->

    <!-- <app-ng-content>
        <h1 class="h">hello</h1>
        <h1 class="g">hello2</h1>
    </app-ng-content>
    <app-ng-content>
        <h1>buddy</h1>
    </app-ng-content> -->

    <!-- <app-lifecycle-search></app-lifecycle-search> -->

    <!-- <app-content-child>
        <p #paragraph>This is a paragraph</p>
    </app-content-child> -->

    <!-- Set background change the background color to green and it invokes from custom attribute directive-->
    <!-- <h1 setBackground>Custom attribute directive</h1> -->

    <!-- using renderer2 custom attribute directive. -->
    <!-- <h1 appHighlight>Custom attribute directive</h1> -->

    <!-- @hostlistener  -->
    <!-- <h1 appHover>Custom attribute directive</h1> -->

    <!-- @hostbinding  -->
    <!-- <h1 appHostbinding [defaultColor]="'blue'">Host binding directive properties</h1> -->


    <!-- if class name has hiphen then simply wrap into single quote. -->
    <!-- <h1 [appClass]="{'change-font': true, span: false}">
        Host binding directive properties
    </h1> -->

    <!-- <app-card-highlight></app-card-highlight> -->

    <!-- <h1 [appCustomStyle]="{backgroundColor:'red', color: 'grey'}">
        Custom ngStyle Directive
    </h1> -->

    <!-- Custom Structure Directive -->
    <!-- <app-cust-struct></app-cust-struct> -->

    <!-- ng-switch Directive -->
    <app-ng-switch></app-ng-switch>
</div>