<div *ngFor="let item of product">
    <span>Title: <strong>{{item.title}}</strong> &nbsp; &nbsp;</span>
    <span [ngStyle]="{color: item.price > 1000 ? 'red' : 'green'}">Price: <strong>{{item.price}}$</strong> &nbsp;
        &nbsp;</span>
    <span>Brand: <strong>{{item.brand}}</strong> &nbsp; &nbsp;</span>

    <!-- ngIf else is use to show the content based on condition -->
    <span [innerText]="'Not recommended'" *ngIf="item.price > 1000; else notRecom"></span>

    <!-- notRecom is name of the template -->
    <ng-template #notRecom>
        <span [innerText]="'Recommended'" *ngIf="item.price < 1000"></span>
    </ng-template>
</div>